.colorRange{
    width: 400px;
}

button{
    margin: 0 15px;
}

input{
    margin: 0 0 20px 20px;
}

input[type=range]{
    -webkit-appearance: none;
    border-radius: 5px;
    height: 6px;
    border: 1px solid black;
}